In [64]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [65]:
# Type your code here
m = sorted(Employee_data.values())
print(m, "\n")
print("Seniormost Employee age is:-  ", m[-1])

[20, 20, 20, 22, 22, 22, 23, 23, 23, 23, 23, 24, 24, 24, 25, 25, 25, 25, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 31, 31, 33, 33, 34, 34, 34, 35, 36, 37, 37, 38, 39, 39, 39, 40, 42, 42, 42, 42, 42, 43, 43, 43, 43, 44, 45, 45, 45, 45]

Seniormost Employee age is:-   45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [67]:
#key = 159
key = input("Enter the key.. ")
k = int(key)
if k in d_keys:
    print(Employee_data.get(k))
else:
    print("NA")

Enter the key.. 159
NA

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [68]:
print("Total number of employees:- ", len(Employee_data))

Total number of employees:-  74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [69]:
s_val = sum(val)
l_val = len(val)
m_val = s_val/l_val
print("sum= ",s_val, "\nLenght= ", l_val, "\nMean age of Employees:- ", m_val)
print("Mean age of Employees:- ",round(m_val,2))

sum=  2321
Lenght=  74
Mean age of Employees:-  31.364864864864863
Mean age of Employees:-  31.36

In [70]:
# Type your code here
import statistics
val = Employee_data.values()
print(val)
me = statistics.mean(val)
print("\nMean age:- ",me)

dict_values([43, 25, 43, 31, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 39, 29, 33, 39, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 20, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

Mean age:-  31.364864864864863

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [71]:
# Type your code here
print(Employee_data)

{101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [73]:
Employee_data[104] = 27
Employee_data[140] = 27
Employee_data[164] = 27

In [74]:
print(Employee_data)

{101: 43, 102: 25, 103: 43, 104: 27, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 27, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 27, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [75]:
del Employee_data[143]
print(Employee_data)

{101: 43, 102: 25, 103: 43, 104: 27, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 27, 141: 29, 142: 33, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 27, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [77]:
s_val = sum((Employee_data.values()))
l_val = len((Employee_data.values()))
m_val = s_val/l_val
print("sum= ",s_val, "\nLenght= ", l_val, "\nMean age of Employees:- ", m_val)
print("Mean age of Employees:- ",round(m_val,2))

sum=  2273
Lenght=  73
Mean age of Employees:-  31.136986301369863
Mean age of Employees:-  31.14